@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
}

:root {
  /*---COLORS---*/

  --rtc-color-1: #fff;
  --rtc-color-1: #000000;
  --rtc-color-1: #ff6000;

  /*---SPACING---*/

  --rtc-margin-xs: 5px;
  --rtc-margin-s: 10px;
  --rtc-margin-m: 20px;
  --rtc-margin-l: 30px;
  --rtc-margin-xl: 40px;

  --rtc-gap-xs: 5px;
  --rtc-gap-s: 10px;
  --rtc-gap-m: 20px;
  --rtc-gap-l: 30px;
  --rtc-pgap-xl: 40px;

  /*---BORDER-RADIUS---*/

  border-radius: 8px;
}
