@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  color: var(--rtc-color-text--);
}

:root {
  /*---COLORS---*/

  --rtc-color-1: #fff;
  --rtc-color-2: #000000;
  --rtc-color-3: #ff6000;
  --rtc-color-4: #454545;

  /*---SPACING---*/

  --rtc-margin-xs: 5px;
  --rtc-margin-s: 10px;
  --rtc-margin-m: 20px;
  --rtc-margin-l: 30px;
  --rtc-margin-xl: 40px;

  --rtc-padding-xs: 5px;
  --rtc-padding-s: 10px;
  --rtc-padding-m: 20px;
  --rtc-padding-l: 30px;
  --rtc-padding-xl: 40px;

  --rtc-gap-xs: 5px;
  --rtc-gap-s: 10px;
  --rtc-gap-m: 20px;
  --rtc-gap-l: 30px;
  --rtc-pgap-xl: 40px;

  /*---BORDER-RADIUS---*/

  --rtc-border--: 1px solid #d9d9d9;
  --rtc-color-text--: var(--rtc-color-4);
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: var(--rtc-color-1);
  border: var(--rtc-border--);
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 120px;
  padding-left: var(--rtc-padding-m);
}

.serch {
  display: flex;
  margin-left: var(--rtc-margin-m);
  padding-left: var(--rtc-padding-m);
  padding-right: var(--rtc-padding-m);
  align-items: center;
  align-content: center;
  background-color: var(--rtc-color-1);
  border: var(--rtc-border--);
  border-radius: 8px;
  height: 40%;
}
.serch > input {
  display: flex;
  width: 200px;

  color: #acacac;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  justify-content: center;
}
.serch > img {
  width: 30px;
  cursor: pointer;
  padding-left: var(--rtc-padding-s);
  background-color: var(--rtc-color-1);
}

.divIndex {
  background-color: var(--rtc-color-1);
  display: flex;
  padding-left: 30%;
  height: 50px;
  align-items: center;
}

.divIndex > div {
  display: flex;
  align-items: center;
  gap: var(--rtc-gap-s);
  padding-left: var(--rtc-padding-m);
  cursor: pointer;
}

.divIndex > div > img {
  width: 20px;
}
.divIndex > div > a {
  font-size: 18px;
  font-weight: 300;
  color: var(--rtc-color-text--);
}

/* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */
/* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */ /* PRODUCTS */

#products {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}
.productlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
  border-bottom: var(--rtc-border--);
  border-left: var(--rtc-border--);
  padding-left: var(--rtc-padding-m);
  padding-right: var(--rtc-padding-m);
}

.divProduct {
  padding-bottom: var(--rtc-padding-s);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rtc-gap-s);
}

.divProduct > img {
  width: 200px;
}
.divProduct > span {
  display: flex;
  text-align: center;
  min-height: 57px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}
.divProduct > h3,
p,
h4 {
  font-weight: 200;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 20px;
  height: 20px;
  background-color: rgb(233, 226, 31);
  display: flex;
}
.allStars {
  display: flex;
}

.productComment {
  display: flex;
  align-items: center;
}
.productComment > span {
  color: #acacac;
  font-weight: 200;
  font-size: 13px;
  padding-left: var(--rtc-padding-s);
  cursor: pointer;
}

/* FILTROS */ /* FILTROS */ /* FILTROS */ /* FILTROS */
/* FILTROS */ /* FILTROS */ /* FILTROS */ /* FILTROS */

.productFilter {
  width: 20%;
  display: flex;
  flex-direction: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--rtc-padding-m);
  gap: var(--rtc-gap-l);
}

.filtro1,
.filtro2 {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--rtc-gap-s);
  border-radius: 10px;
  border: var(--rtc-border--);
}

/* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE
/* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE /* RESPONSIVE */

@media screen and (min-width: 1040px) and (max-width: 1175px) {
  .serch {
    display: none;
  }
  .navBar {
    padding: 15px 15px;
  }
}
